.card {
  max-width: 413px;
  box-sizing: border-box;
}

.card__image {
  height: 413px;
  width: 413px;
  border-radius: 8px;
  object-fit: cover;
  display: block;
  max-width: 100%;
  cursor: pointer;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: rgba(33, 33, 33, 1);
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
.card__like-button {
  background-image: url(../images/like.svg);
  width: 1.5em;
  height: 1.3em;
  border: none;
  background-color: transparent;
  opacity: 40%;
  background-size: contain;
  background-repeat: no-repeat;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 1;
}

.card__like-button_active {
  background-image: url(../images/like-active.svg);
  opacity: 100%;
}

.card__like-button_active:hover {
  background-image: url(../images/like-active.svg);
  opacity: 0.4;
}

.card__image-container {
  position: relative;
}

.card__delete-button{
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  z-index: 2;
}

.card__delete-button:hover img {
  content: url('../images/delete-hover.svg');

}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__like-button {
    width: 1.2em;
    height: 1em;
  }

  .card__title {
    font-size: 16px;
    line-height: 100%;
    max-width: 250px;
  }
}
