.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  z-index: 1000;
}


.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}


.modal__container {
  position: relative;
  max-width: 730px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 32px 50px;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  border: none;
  background: none;
  opacity: 40%;
  cursor: pointer;
  transition: opacity 0.3s ease;
  padding: 0;
}

.modal__close-btn:hover {
  opacity: 1;
}


.modal__submit-btn {
  background-color: #212121;
  color: #FCF5E5;
  width: 100%;
  max-width: 156px;
  height: 52px;
  border-radius: 8px;
  padding: 18px 32px;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  border: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal__submit-btn:hover {
  opacity: 0.8;

}


.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
}


.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #212121b2;
  font-size: 16px;
  margin: 0 0 32px;
}


.modal__input {
  display: block;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #21212166;
  padding: 16px 12px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  font-size: 20px;
  line-height: 1;
}

.modal__input:hover {
  border-color: #212121;
}

.modal__input::placeholder {
  color: #2121214d;
  font-size: 20px;
  font-weight: 500;
}

#preview-image-modal .modal__close-btn {
 position: absolute;
  top: 16px;
  right: 16px;
  z-index: 2;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  opacity: 0.4;
  cursor: pointer;
  padding: 0;
}


#preview-image-modal .modal__close-btn:hover {
  opacity: 1;
}

.modal__preview-image {
  max-width: 80%;
  max-height: 80%;
  border-radius: 8px;
  margin-bottom: 16px;
}

.modal__preview-caption {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}


@media screen and (max-width: 627px) {

  .modal__container {
    padding: 22px 12px 12px;
    max-width: 300px;
    width: 100%;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal__submit-btn {
    max-width: none;
  }

  .modal__label {
    margin: 0;
  }

  .modal__form {
    gap: 24px;
  }

  .modal__title {
    font-size: 20px;
    margin-bottom: 34px;
  }

  .modal__input {
    font-size: 16px;

  }
}

