.page {
  background-color: #fcf5e5;
  min-height: 100vh;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.page__section {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}